doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer.footer
    .container
      p.text-muted Place sticky footer content here.